<div class="sign-up-form">
	<div class="card-panel">
		<h2 class="center-align">
        Add a new Course
    </h2>

		<div class="row">
			<%= form_with(model: @course, url: courses_new_path, html: { class: "col s12" }) do |f| %>
				<div class="row">
					<div class="input-field col s12">
						<%= f.text_field :short_name, placeholder: @course.short_name %>
						<%= f.label :short_name %>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<%= f.text_field :name, placeholder: @course.name %>
						<%= f.label :name %>
					</div>
				</div>
        <div class="row">
					<div class="input-field col s12">
						<%= f.text_area :description, placeholder: @course.description, html: { id: "textarea1", class: "materialize-textarea" } %>
						<%= f.label :description %>
					</div>
				</div>
        
				<div class="row center-align">
				<%= f.submit "Add new Course", class: "waves-effect waves-light btn-large white-text" %>
				</div>
			<% end %>
		</div>
	</div>
</div>